<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Nova Pergunta</title>
</head>

<body>
    <header>
        <%-include('./partials/navbar') %>
    </header>
    <div class="container">

        <div class="card mt-5  text-center" style="margin-left: 5%; margin-right: 5%;">
            <div class="card-header text-white" style="background-color: black; font-size: 18px;">
                Nova Pergunta
            </div>

            <div class="card-body">
                <form action="/matters/<%=idMatter%>/questions/new" method="post" enctype="multipart/form-data">
                    <div class="mt-3 mb-4">
                        <label for="title" class="form-label" style="float: left;">Titulo da Pergunta</label>
                        <input type="text" id="title" name="title" class="form-control">
                    </div>
                    <div class="mt-3 mb-4">
                        <label for="textQuest" class="form-label" style="float: left;">Pergunta</label>
                        <textarea type="text" name="textQuest" class="form-control" style="height: 120px;"></textarea>
                    </div>
                    <div class="mt-3 mb-4" style="margin-right: 70%; min-width: 380px;">
                        <label for="image" class="form-label" style="float: left;">Imagem</label>
                        <input id="arqvbtn" type="file" accept="image/*" multiple id="image" name="image"
                            class="form-control">
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn" id="azulbtn">Enviar</button>
                        <a href="javascript:history.back()" type="button" class="btn" id="cinzabtn">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>